USE [master]
GO
/****** Object:  Database [QUANLYKHACHSAN]    Script Date: 31/03/2026 6:48:51 PM ******/
CREATE DATABASE [QUANLYKHACHSAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYKHACHSAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYKHACHSAN.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYKHACHSAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QUANLYKHACHSAN_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYKHACHSAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYKHACHSAN]
GO
/****** Object:  Table [dbo].[Booking]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Booking](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[CCCD] [float] NOT NULL,
	[MaPhong] [nchar](10) NOT NULL,
	[NgayDen] [date] NOT NULL,
	[NgayDi] [date] NOT NULL,
	[MaSDDV] [nchar](200) NOT NULL,
	[ThanhTien] [int] NOT NULL,
	[TrangThai] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Booking_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CtietHD]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CtietHD](
	[MaHD] [int] NOT NULL,
	[CCCD] [float] NOT NULL,
	[MaSDDV] [nvarchar](500) NOT NULL,
	[MaPhong] [nchar](10) NOT NULL,
	[TongTien] [int] NOT NULL,
	[NgayThanhToan] [date] NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
 CONSTRAINT [PK_CtietHD_1] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CCCD] [float] NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[GioiTinh] [nvarchar](50) NOT NULL,
	[Sdt] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Customers] PRIMARY KEY CLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] NOT NULL,
	[CCCD] [float] NOT NULL,
	[MaPhong] [nchar](10) NOT NULL,
	[MaSDDV] [nchar](500) NOT NULL,
	[TrangThai] [nvarchar](max) NOT NULL,
	[ThanhTien] [int] NOT NULL,
 CONSTRAINT [PK_HoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[MaVT] [nchar](10) NOT NULL,
	[TenVT] [nvarchar](max) NOT NULL,
	[GiaTien] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[MaPhong] [nchar](10) NOT NULL,
	[TenPhong] [nchar](10) NOT NULL,
	[LoaiPhong] [nchar](10) NOT NULL,
	[GiaPhong] [int] NOT NULL,
	[TinhTrang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Rooms] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[MaDV] [nchar](10) NOT NULL,
	[TenDV] [nvarchar](max) NOT NULL,
	[GiaTien] [int] NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TaiKhoan] [nvarchar](50) NOT NULL,
	[MatKhau] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 31/03/2026 6:48:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MaNV] [nchar](10) NOT NULL,
	[TenNV] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[GioiTinh] [nchar](10) NOT NULL,
	[ChucVu] [nvarchar](50) NOT NULL,
	[Sdt] [nchar](10) NOT NULL,
	[MatKhau] [nchar](10) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[TrangThai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Booking] ON 

INSERT [dbo].[Booking] ([MaHD], [CCCD], [MaPhong], [NgayDen], [NgayDi], [MaSDDV], [ThanhTien], [TrangThai]) VALUES (5039, 23287451234, N'P101      ', CAST(N'2025-04-22' AS Date), CAST(N'2025-04-24' AS Date), N'VIP01,VIP04,VIP07,VIP08                                                                                                                                                                                 ', 3550000, N'Đã thanh toán')
INSERT [dbo].[Booking] ([MaHD], [CCCD], [MaPhong], [NgayDen], [NgayDi], [MaSDDV], [ThanhTien], [TrangThai]) VALUES (5040, 26243561272, N'P102      ', CAST(N'2025-04-22' AS Date), CAST(N'2025-04-24' AS Date), N'VIP01,VIP03,VIP08                                                                                                                                                                                       ', 3450000, N'Đã thanh toán')
INSERT [dbo].[Booking] ([MaHD], [CCCD], [MaPhong], [NgayDen], [NgayDi], [MaSDDV], [ThanhTien], [TrangThai]) VALUES (5041, 26204004321, N'P103      ', CAST(N'2025-04-22' AS Date), CAST(N'2025-04-23' AS Date), N'                                                                                                                                                                                                        ', 600000, N'Chưa thanh toán')
SET IDENTITY_INSERT [dbo].[Booking] OFF
GO
INSERT [dbo].[Customers] ([CCCD], [TenKH], [DiaChi], [GioiTinh], [Sdt]) VALUES (23287451234, N'Ngô Phú D', N'Hòa Bình', N'Nam', N'0356251423')
INSERT [dbo].[Customers] ([CCCD], [TenKH], [DiaChi], [GioiTinh], [Sdt]) VALUES (23487651234, N'Lê Thị C', N'Phú Thọ', N'Nữ', N'0987654321')
INSERT [dbo].[Customers] ([CCCD], [TenKH], [DiaChi], [GioiTinh], [Sdt]) VALUES (26204004321, N'Nguyễn Văn B', N'Hà Nội', N'Nữ', N'0376241389')
GO
INSERT [dbo].[Materials] ([MaVT], [TenVT], [GiaTien]) VALUES (N'VT01      ', N'Chăn', 200000)
INSERT [dbo].[Materials] ([MaVT], [TenVT], [GiaTien]) VALUES (N'VT02      ', N'Ga', 100000)
INSERT [dbo].[Materials] ([MaVT], [TenVT], [GiaTien]) VALUES (N'VT03      ', N'Gối', 100000)
GO
INSERT [dbo].[Rooms] ([MaPhong], [TenPhong], [LoaiPhong], [GiaPhong], [TinhTrang]) VALUES (N'P101      ', N'Phòng 101 ', N'Single    ', 300000, N'Có khách')
INSERT [dbo].[Rooms] ([MaPhong], [TenPhong], [LoaiPhong], [GiaPhong], [TinhTrang]) VALUES (N'P102      ', N'Phòng 102 ', N'Double    ', 400000, N'Trống')
INSERT [dbo].[Rooms] ([MaPhong], [TenPhong], [LoaiPhong], [GiaPhong], [TinhTrang]) VALUES (N'P103      ', N'Phòng 103 ', N'VIP       ', 500000, N'Có khách')
GO
INSERT [dbo].[Service] ([MaDV], [TenDV], [GiaTien]) VALUES (N'VIP01     ', N'Trọn gói  ', 2000000)
INSERT [dbo].[Service] ([MaDV], [TenDV], [GiaTien]) VALUES (N'VIP02     ', N'Đưa đón   ', 1000000)
INSERT [dbo].[Service] ([MaDV], [TenDV], [GiaTien]) VALUES (N'VIP03     ', N'Ăn sáng   ', 500000)
GO
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [Email], [ChucVu]) VALUES (N'admin', N'admin123', N'Admin@gmail.com', N'GIÁM ĐỐC')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [Email], [ChucVu]) VALUES (N'admin1', N'admin123', N'thehoa@gmail.com', N'GIÁM ĐỐC')
INSERT [dbo].[TaiKhoan] ([TaiKhoan], [MatKhau], [Email], [ChucVu]) VALUES (N'admin4', N'admin123', N'admin4@gmail.com', N'Khách hàng')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [MaNV], [TenNV], [DiaChi], [GioiTinh], [ChucVu], [Sdt], [MatKhau], [Email], [TrangThai]) VALUES (8, N'admin     ', N'Trần Nguyễn Bùi', N'Vĩnh Thọ', N'Thứ 3     ', N'GIÁM ĐỐC', N'0987654321', N'admin123  ', N'admin@gmail.com', N'Đang làm')
INSERT [dbo].[Users] ([ID], [MaNV], [TenNV], [DiaChi], [GioiTinh], [ChucVu], [Sdt], [MatKhau], [Email], [TrangThai]) VALUES (9, N'nv01      ', N'Nguyễn Lê Trần', N'Thái Mau', N'Nam       ', N'QUẢN LÝ', N'1234567890', N'nv012345  ', N'nv01@gmail.com', N'Đã Nghỉ')
INSERT [dbo].[Users] ([ID], [MaNV], [TenNV], [DiaChi], [GioiTinh], [ChucVu], [Sdt], [MatKhau], [Email], [TrangThai]) VALUES (11, N'nv11      ', N'Nguyễn Lê Thế Anh', N'Vĩnh Thọ', N'Nam       ', N'NHÂN VIÊN', N'1234567890', N'theanh123 ', N'theanh@gmail.com', N'Đang làm')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Customers1] FOREIGN KEY([CCCD])
REFERENCES [dbo].[Customers] ([CCCD])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Customers1]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Rooms] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Rooms] ([MaPhong])
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Rooms]
GO
ALTER TABLE [dbo].[CtietHD]  WITH CHECK ADD  CONSTRAINT [FK_CtietHD_Customers] FOREIGN KEY([CCCD])
REFERENCES [dbo].[Customers] ([CCCD])
GO
ALTER TABLE [dbo].[CtietHD] CHECK CONSTRAINT [FK_CtietHD_Customers]
GO
ALTER TABLE [dbo].[CtietHD]  WITH CHECK ADD  CONSTRAINT [FK_CtietHD_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[CtietHD] CHECK CONSTRAINT [FK_CtietHD_HoaDon]
GO
ALTER TABLE [dbo].[CtietHD]  WITH CHECK ADD  CONSTRAINT [FK_CtietHD_Rooms1] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Rooms] ([MaPhong])
GO
ALTER TABLE [dbo].[CtietHD] CHECK CONSTRAINT [FK_CtietHD_Rooms1]
GO
ALTER TABLE [dbo].[CtietHD]  WITH CHECK ADD  CONSTRAINT [FK_CtietHD_Users] FOREIGN KEY([MaNV])
REFERENCES [dbo].[Users] ([MaNV])
GO
ALTER TABLE [dbo].[CtietHD] CHECK CONSTRAINT [FK_CtietHD_Users]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Customers] FOREIGN KEY([CCCD])
REFERENCES [dbo].[Customers] ([CCCD])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Customers]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_Rooms] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[Rooms] ([MaPhong])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_Rooms]
GO
USE [master]
GO
